{% extends "layout.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Emails Sent Today</h5>

<h3>{{ email_count }}</h3>


</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Upcoming Meetings</h5>

<h3>{{ meeting_count }}</h3>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Pending Tasks</h5>

<h3>{{ pending_tasks }} </h3>

</div>

</div>

</div>

</div>

{% endblock %}