{% extends "layout.html" %}

{% block content %}

<h2>My Reminders</h2>

<form method="POST">

Reminder
<input type="text" name="title" class="form-control">

<br>

Date
<input type="date" name="date" class="form-control">

<br>

Time
<input type="time" name="time" class="form-control">

<br>

<button class="btn btn-primary">Add Reminder</button>

</form>

<br>

<table class="table table-bordered">

<tr>
<th>Reminder</th>
<th>Date</th>
<th>Time</th>
<th>Action</th>
</tr>

{% for r in reminders %}

<tr>

<td>{{ r[1] }}</td>
<td>{{ r[2] }}</td>
<td>{{ r[3] }}</td>

<td>
<a href="/delete_reminder/{{ r[0] }}" class="btn btn-danger btn-sm">
Delete
</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}